.header--hamburger--container.open {
  .header--hamburger--container__btn {
    transform: translateX(-50px);
    background: transparent;

    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

.overlay.open {
  opacity: 1;
}
