@import "./utils/_variables";
@import "./utils/_mixins";
@import "./_animation";

html {
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: $bg;
  color: $tc;

  // font-family: 'Crimson Pro', serif;
  // font-family: 'Lora', serif;

  .header {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;

    &--logo {
      width: 103px;
      height: 31px;
      font-family: "Crimson Pro", serif;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 0.29rem;
      margin-left: 12px;
      border: $tc solid;
    }

    &--hamburger--container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28.5px;
      height: 28.5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      margin-right: 12.75px;
      margin-top: 15px;
      z-index: 2;

      &__btn {
        width: 28.5px;
        height: 2px;
        background: $tc;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 28.5px;
          height: 2px;
          background: $tc;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
        }

        &::before {
          transform: translateY(-8px);
        }

        &::after {
          transform: translateY(8px);
        }
      }
    }
  }

  .overlay {
    opacity: 0;
    z-index: 1;

    transition: all 0.5s ease-in-out;

    background: $bg;
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      transition: all 0.5s ease-in-out;
      text-decoration: none;
      color: $tc;
      text-align: center;
      font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
      margin: 5%;
      &:hover {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

.container {
  margin-bottom: 4rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: $gray;
}
